<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}高考志愿{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
<script type="text/javascript" src='../static/js/base.js'></script>

<!-- 网页图标 -->
<link rel="icon"  type="image/png" href="../static/images/search_g.png">
</head>
<body>
{% include 'header.html' %}

<script type="text/javascript" src='../static/js/base.js'></script>
{% block content %}

    <div>抱歉没有数据...</div>
{% endblock %}

{% include 'footer.html' %}
</body>
</html>