{% extends 'base.html' %}
{% block title %}数据查询{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="../static/css/dataSearch.css">
<style type="text/css">
	
	.collegeSearch {
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    content: "";
	    vertical-align: middle;
	    overflow: hidden;
	    background: url(../static/images/search.png) no-repeat center center;
	    background-size: 100% 100%;
	    cursor: pointer;

	}

	.collegeSearchPng {
		background: url(../static/images/search_g.png) no-repeat center center;

	}

	.sortPng {
	    /* width: 150px; */
	    background: url(../static/images/down.png) no-repeat right center;
	
	}

	.sort {
	    background: url(../static/images/down.png) no-repeat right center;
	}
	.cover .cover_text {
    width: 604px;
    margin: 0 auto;
    height: 226px;
    background: url(../static/images/vip_ad.jpg) center no-repeat;
	}

	.collect {
	    display: block;
	    /* float: left; */
	    /* position: relative; */
	    /* margin-left: 35px; */
	    /* width: 65px; */
	    height: 60px;
	    background: url(../static/images/star_b.png) no-repeat 25px center;
	    /* background-size: auto 100%; */
	}
	.hidden{
		display: none;
	}
	.bar_word{
	    font-family: '微软雅黑 Bold', '微软雅黑';
	    /* font-weight: 700; */
	    font-size: 16px;
	    height: 52px;
	    line-height: 52px;
	    float: left;
	    color: #333;
	    /* background: #00D0FF; */
	    text-indent: 24px;
	   
	
	}

	caption span {
    font-weight: 700;
    font-size: 20px;
	}
	.rt{
		float: right;
	}
	
	
</style>

<link href="../static/css/page.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="../static/js/page.js"></script>
<script type="text/javascript">
	$(document).ready(function(){

		// 院校推荐样式更换
		lpointClass(".lpointer","mySelected")

		//省份选项样式
		mySelectedClass("#district .pull-left",".pull-left","mySelected")
		mySelectedClass("#sch_province .pull-left",".pull-left","mySelected")
		mySelectedClass("#round .pull-left",".pull-left","mySelected")
		mySelectedClass("#category .pull-left",".pull-left","mySelected")
		mySelectedClass("#year .pull-left",".pull-left","mySelected")

		
		//全选
		$('.selectAll').click(function(){
			$(this).addClass("mySelected");
			$('.headTab').addClass('prob');

		})

		
		probClass(".headTab","prob")

		//输入框改变border颜色
		
		$('.sortByCollege').focusin(function(){

			$(this).addClass('iptfocus');
			$('.collegeSearch').addClass('collegeSearchPng');
		})

		$('.sortByCollege').focusout(function(){

			$(this).removeClass('iptfocus');
			$('.collegeSearch').removeClass('collegeSearchPng');

		})
		function probClass(name,clasName){

			

			$(name).each(function(){
				$(this).click(function(){
					//移除全选按钮样式
					$('.selectAll').removeClass('mySelected')
					$(name).removeClass(clasName);
					$(this).addClass(clasName);

				})
				
			})
		}

		function mySelectedClass(node,name,clasName){
			//判断是否存在父节点
			if (node==""){
				$(name).each(function(){
					$(this).click(function(){
						$(name).removeClass(clasName);
						$(this).addClass(clasName);

					})
				
				})
			}else{
				$(node).each(function(){
					$(this).click(function(){
						$(node).removeClass(clasName);
						$(this).addClass(clasName);

					})
				
				})
			}
		}
		function lpointClass(name,clasName){

			//判断是否存在父节点
			$(name).each(function(){
				$(this).click(function(){

					$(name).removeClass(clasName);
					$(this).addClass(clasName);
					$('#bread_nav2').html($(this).html())
					
				})
			
			})
		}


		 //大学分数线
		// ajax 传数据获取院校数据
		function ajax_data(url){
			$('.data-tbody').remove();
			$('.data_table').append('<tbody class="data-tbody"></tbody>')

			$.getJSON(url,function(data){
				if (data.Data.length!=0){
					$('.noData').addClass("hidden");
					
						for (var i=0;i<data.Data.length;i++)
						{
							//alert(data.Data[i][0])
                            if(i%2==0){
                                
                            	$('.data-tbody').append('<tr><td class="collegeId" data_college_id="1"><a  href="/schoolinfo?schoolName='+data.Data[i][0]+'"class="collegeLink pointer tst3">'+data.Data[i][0]+'</a></td><td>'+data.Data[i][1]+'</td><td>'+data.Data[i][2]+'</td><td>'+data.Data[i][3]+'</td><td>'+data.Data[i][4]+'</td><td class="collectBox collect pointer" ></td></tr>')  
                            }else{
                            	$('.data-tbody').append('<tr style="background:#EBFBFF;"><td class="collegeId" data_college_id="1"><a href="/schoolinfo?schoolName='+data.Data[i][0]+'"class="collegeLink pointer tst3">'+data.Data[i][0]+'</a></td><td>'+data.Data[i][1]+'</td><td>'+data.Data[i][2]+'</td><td>'+data.Data[i][3]+'</td><td>'+data.Data[i][4]+'</td><td class="collectBox collect pointer" ></td></tr>')
                            }
								
						}
					
				}else{
					$('.noData').removeClass("hidden");
				}
			})
	    }
	
	 
	    //根据点击显示不同省份的内容
		$('.pull-left').each(function(){

			$(this).click(function(){
				var sel_district = $("#district li.mySelected").html(),
				//sch_province = $("#sch_province li.mySelected").html(),
	            // sel_subject = $("#subject li.mySelected").html(),
	            sel_round = $("#round li.mySelected").html(),
	            // sel_collegeNature = $("#collegeNature li.mySelected").html(),
	            sel_category = $("#category li.mySelected").html(),
	            sel_year = $("#year li.mySelected").html();
	            // sel_zydl = $("#zydl li.mySelected").html(),
	            // sel_xklb=$("#xklb li.mySelected").html(),
	            // sel_mClass = $("#mclass li.mySelected").html()
	            // sel_mClass2 = $("#mclass2 li.mySelected").html(),
	            // sel_mClassold = $("#mclassold li.mySelected").html()
	            // sel_mClassold2 = $("#mclassold2 li.mySelected").html();

				// url="/api_collegescoreline/?stuProvince="+sel_district+"&schProvince="+sch_province+"&batch="+sel_round+"&stuType="+sel_category+"&year="+sel_year+"&page=1"
				url="/api_collegescoreline/?stuProvince="+sel_district+"&batch="+sel_round+"&stuType="+sel_category+"&year="+sel_year+"&page=1"
				
				$(".bar_word").html('<lable class="lable_key">'+sel_year+'</lable>年'+'<lable class="lable_key">'+sel_round+'</lable>高校在'+'<lable class="lable_key">'+sel_district+'</lable>的录取分数线'+'（'+'<lable class="lable_key">'+sel_category+'</lable>'+'）')
				ajax_data(url)
			})
		
		})
	  
		
		// 分页
	
	 	totalPage=0
	    var GG = {
	        "kk":function(page){

	            var sel_district = $("#district li.mySelected").html(),
		        sel_round = $("#round li.mySelected").html(),
		        sel_category = $("#category li.mySelected").html(),
		        sel_year = $("#year li.mySelected").html();
		        url="/api_collegescoreline/?stuProvince="+sel_district+"&batch="+sel_round+"&stuType="+sel_category+"&year="+sel_year+"&page="

				$(".bar_word").html('<lable class="lable_key">'+sel_year+'</lable>年'+'<lable class="lable_key">'+sel_round+'</lable>高校在'+'<lable class="lable_key">'+sel_district+'</lable>的录取分数线'+'（'+'<lable class="lable_key">'+sel_category+'</lable>'+'）')
				url=url+page
				ajax_data(url)
	        }
	    }
	  
	
	    $("#page").initPage(300,1,GG.kk);
	});
	
	
</script>

<div class="head_height"></div>
<div id="reportedCollege-container">
    <div id="reportedCollege_content" >
      
		{# 左边窗口 #}
		<div class="lFrame lt">
		    <div class="mynav nav2_bar breadUserInfoBox ">
		        <ul class="breadcrumb breadNav">
		            <li><a class="index" href="/">首页</a></li>
		            <li><a id="bread_nav1" href="/dataSearch">数据查询</a></li>
		            <li id="bread_nav2">大学分数线</li>
		        </ul>
		    </div>

		    <div>
		        <div class="changeNav_school"><i class="icon iconfont icon-xueshimao"></i>院校数据</div>
		        <ul class="changeNav">

		            <a href="/dataSearch"><li class="lpointer ">院校大全</li></a>
		            <a href="/collegescoreline"><li class="lpointer  mySelected">大学分数线</li></a>
		            <a href="/areascoreline"><li class="lpointer">地区批次线</li></a>
		            <a href="/scoreparam"><li class="lpointer">一分一段表</li></a> 
		        </ul>
		    </div>

		    <div>
		        <div class="changeNav_major"><i class="icon iconfont icon-shu"></i>专业数据</div>
		        <ul class="changeNav">
		            <a href="/professiongroup"><li class="lpointer ">专业大全</li></a>
		            <a href="/professionscore"><li class="lpointer ">专业分数线</li></a>
		            <a href="/professionrank"><li class="lpointer ">专业学科排名</li></a>
		        </ul>
   			</div>
        </div>
       {# 右侧内容 #}
     	<div class="rFrame lt">
	        <!--引入临时用户 -->
       		 {% include 'tempuser.html' %}
         	<div class="partLine_top">
		        <div id="row_district">
		            <div class="select_title fl">
		                <div class="select_inputDom"><lable class='.keyword'>考生</label>位置：</div>
		            </div>
		            <ul class="select_items fl mul" id="district">
		                <li class="pull-left mySelected" data_value="北京">北京</li>
		                <li class="pull-left" data_value="安徽">安徽</li>
		                <li class="pull-left" data_value="重庆">重庆</li>
		                <li class="pull-left" data_value="福建">福建</li>
		                <li class="pull-left" data_value="广东">广东</li>
		                <li class="pull-left" data_value="广西">广西</li>
		                <li class="pull-left" data_value="甘肃">甘肃</li>
		                <li class="pull-left" data_value="贵州">贵州</li>
		                <li class="pull-left" data_value="海南">海南</li>
		                <li class="pull-left" data_value="河南">河南</li>
		                <li class="pull-left" data_value="河北">河北</li>
		                <li class="pull-left" data_value="黑龙江">黑龙江</li>
		                <li class="pull-left" data_value="湖北">湖北</li>
		                <li class="pull-left" data_value="湖南">湖南</li>
		                <li class="pull-left" data_value="吉林">吉林</li>
		                <li class="pull-left" data_value="江苏">江苏</li>
		                <li class="pull-left" data_value="江西">江西</li>
		                <li class="pull-left" data_value="辽宁">辽宁</li>
		                <li class="pull-left" data_value="内蒙古">内蒙古</li>
		                <li class="pull-left" data_value="宁夏">宁夏</li>
		                <li class="pull-left" data_value="青海">青海</li>
		                <li class="pull-left" data_value="山东">山东</li>
		                <li class="pull-left" data_value="山西">山西</li>
		                <li class="pull-left" data_value="陕西">陕西</li>
		                <li class="pull-left" data_value="上海">上海</li>
		                <li class="pull-left" data_value="四川">四川</li>
		                <li class="pull-left" data_value="天津">天津</li>
		                <li class="pull-left" data_value="新疆">新疆</li>
		                <li class="pull-left" data_value="西藏">西藏</li>
		                <li class="pull-left" data_value="云南">云南</li>
		                <li class="pull-left" data_value="浙江">浙江</li>
		            </ul>
		        </div>

			<div class="partLine">
		      
		        <div id="row_round">
		            <div class="select_title fl">
		                <div class="select_inputDom">录取批次：</div>
		            </div>
		            <ul class="select_items fl" id="round">
		            	
		            	<li class="pull-left mySelected" data_value="本科提前批">本科提前批</li>
		                <li class="pull-left" data_value="本科一批">本科一批</li>
		                <li class="pull-left" data_value="本科二批">本科二批</li>
		                <li class="pull-left" data_value="本科三批">本科三批</li>
		                <li class="pull-left" data_value="专科提前批">专科提前批</li>
		                <li class="pull-left" data_value="专科批">专科批</li>
		                <li class="pull-left" data_value="专科一批">专科一批</li>
		                <li class="pull-left" data_value="专科二批">专科二批</li>
		               
		            </ul>
		        </div>
		       
		        <div id="row_category">
		            <div class="select_title fl">
		                <div class="select_inputDom">考生类型：</div>
		            </div>
		            <ul class="select_items fl" id="category">
		                <li class="pull-left mySelected" data_value="理科">理科</li>
		                <li class="pull-left" data_value="文科">文科</li>
		                <li class="pull-left" data_value="综合">综合</li>
		                <li class="pull-left" data_value="其他">其他</li>
		            </ul>
		        </div>

		        <div id="row_year">
		            <div class="select_title fl">
		                <div class="select_inputDom">高考年份：</div>
		            </div>
		            <ul class="select_items fl" id="year">
		                <li class="pull-left mySelected" data_value="2016">2016</li>
		                <li class="pull-left "  data_value="2015">2015</li>
		                <li class="pull-left" data_value="2014">2014</li>
		                <li class="pull-left" data_value="2013">2013</li>
		                <li class="pull-left" data_value="2012">2012</li>
		                <li class="pull-left" data_value="2011">2011</li>
		                <li class="pull-left" data_value="2010">2010</li>
		                <li class="pull-left" data_value="2009">2009</li>
		                <li class="pull-left" data_value="2008">2008</li>
		            </ul>
		        </div>
		        
		       
		    </div>
	 </div>	  
	 	<div class="data_conts" >
		    <table class="data_table">
			    <caption >
			    	
		            <div class="sortBar">
		            	<span class="bar_word">
	                   	 2016年本科一批高校在北京的录取分数线（理科）
	                	</span>
				        <div class="sortByCollege rt">
				            <input type="text" placeholder="在结果中搜索学校" class="inputCollege" id="inputCollege">
				            <span class="collegeSearch"></span>
				            
				        </div>
				       
				    </div>
	        	</caption>
			  
		        <thead>
		            <tr>
		                <td class="table_head">院校名称</td>
		                <td class="table_head">高校位置</td>
		                <td class="table_head">年份</td>
		                <td class="table_head">录取最高分</td>
		                <td class="table_head">录取平均分</td>
		                <td class="table_head">收藏</td>
		                <!--<td>平均分线差</td>-->
		                <!--<td>录取平均概率</td>-->
		            </tr>
            	</thead>
		       <!--  <tbody class="data-tbody">
		        			{# <tr> #}
					            {# <td class="collegeId" data_college_id="1"><a class="collegeLink pointer tst3">{{data.0}}</a> #}
					            {# </td> #}
					            {# <td>{{data.1}}</td> #}
					            {# <td>{{data.2}}</td> #}
					            {# <td>{{data.3}}</td> #}
					            {# <td>{{data.4}}</td> #}
					            {# <td class="collectBox collect pointer" > #}
					            {# </td> #}
					            {# <td class="pointer hc tst3">大学录取概率</td> #}
			      			{# </tr> #}
	      		</tbody> -->
    		</table>
    		
    	
		    <div class="noData hidden">
		    	<div class="mc"><span class="dataLine"></span> <span>抱歉，暂无相关数据</span> <span class="dataLine"></span></div>
		    </div>
		    <div class="cover hidden">
		        <div class="cover_text">
		            {# 开通VIP，查看全部，为梦想投资 #}
		        </div>
		        <a href="buyVip.html" class="cover_btn pointer btn_tran">开通VIP</a>
		    </div>
		</div>	

		    {# <div id="pager" class="pager clearfix"></div>	 #}
		    <div ><ul class="page" maxshowpageitem="5" pagelistcount="10"  id="page"></ul></div>
        </div>

	</div>
</div>

{% endblock %}
