
<link rel="stylesheet" type="text/css" href="../static/css/footer.css">
<style type="text/css">
	
	.title-font{
		font-weight: 700
	}
</style>
<div class="cls"></div>
<hr>
	<div style="width: 1000px;margin: 0 auto;">
	    <div class="column">
	        <h4 class="title-font">网站首页</h4>
	        <a href="/bevip" >开通VIP</a>
	    </div>
	    <div class="column">
	        <h4 class="title-font">主要功能</h4>
	        <p><a href="/reportedCollege">按分推荐大学</a></p>
	        <p><a href="/dataSearch">院校大全</a></p>
	        <p><a href="/professiongroup">专业大全</a></p>
	        <p><a href="/collegescoreline">大学分数线</a></p>
	    </div>
	    <div class="column">
	        <h4 class="title-font">联系我们</h4>
	        <p>江西师范大学---软件学院</p>
	        <p>tel:00000000</p>
	        <p>email:service@gaokao.com</p>
	    </div>
	</div>