
<link rel="stylesheet" type="text/css" href="../static/css/footer.css">

<div class="cls"></div>
<div id="footer" >
    <div id="footer_contain" >
        <div class="footer">    
         <div class="footer_tab fo hidden-xs">
            <div class="friendlink cf">
                    <dl class="fl  active_width"> <dt class="footer_title">VIP用户</dt>
                        <dd><a href="#">购买产品</a></dd>
                        <dd><a href="#" target="_blank">用户协议</a></dd>
                        <dd><a href="#" target="_blank">常见问题</a></dd>
                    </dl>
                    <dl class="fl active_width">
                        <dt class="footer_title">主要功能</dt>
                        <dd><a href="#" class="footer_a" target="_blank">按分推荐大学</a></dd>
                        <dd><a href="#" target="_blank">大学录取概率</a></dd>
                        <dd><a href="#" target="_blank">同分考生去向</a></dd> 
                        <dd><a href="#" target="_blank">模拟志愿填报</a></dd>
                         <dd><a href="#" title="查大学" target="_blank">大学分数线</a></dd>
                    </dl>
                     <dl class="fl active_width">
                         <dt class="footer_title">关于我们</dt>
                         <dd><a href="a#" target="_blank">公司简介</a></dd>
                         <dd><a href="#" target="_blank">产品说明</a></dd>    
                     </dl> 
                     <dl class="touch_us fl footer_right">
                        <dt class="footer_title">联系我们</dt> 
                        <dd class="">速得尔（北京）教育科技有限公司</dd>
                        <dd class="footer_location"><span class="footer_img"><i class="icon iconfont icon-dingwei"></i></span><span class="footer_details">北京市西三旗桥北金燕龙大厦301室</span></dd>

                        <dd class="footer_tell"><span class="footer_img"><i class="icon iconfont icon-dianhua"></i></span><span class="footer_details">010-82093443</span></dd>

                        <dd class="footer_email"><span class="footer_img"><i class="icon iconfont icon-xinfeng"></i></span><span class="footer_details">eservice@suooter.com</span></dd>

                    </dl>
                     <dl class="fl active_width">
                         <dt class="footer_title">QQ群</dt>

                         <dd class="erweimaBox"><img src="img/sao_qq.png?v=fb0d963c3d" alt=""><div>163590857</div></dd>
                     </dl>   
                     <dl class="active_width fl">
                         <dt class="footer_title">微信号</dt>
                         <dd class="erweimaBox"><img src="img/sao_weixin.png?v=0ef6907fb8" alt=""><div>easygaokao</div></dd>
                     </dl>  
                     <dl class="active_width fl">
                         <dt class="footer_title">微信小程序</dt>
                         <dd class="erweimaBox"><img src="img/wechat_x.png?v=58b82bf822" alt=""><div>大数据志愿填报</div></dd>
                     </dl> 
                 </div>
            </div>

         <div class="footer-botton">©&nbsp;2016&nbsp;<a href="#" title="易高考" target="_blank">www.easygaokao.com</a> All Rights Reserved.
                速得尔（北京）教育科技有限公司旗下易高考网版权所有&nbsp;&nbsp;&nbsp;&nbsp;京ICP备16042292号-1</div>
        </div>
    </div>
</div>