
<link rel="stylesheet" type="text/css" href="../static/css/footer.css">

<!-- <div class="cls"></div> -->
	<div style="width: 1000px;margin: 0 auto;">
	    <div class="column">
	        <h4>网站首页</h4>
	        <a href="/bevip" >开通VIP</a>
	    </div>
	    <div class="column">
	        <h4>主要功能</h4>
	        <p>按分推荐大学</p>
	        <p>大学分数线</p>
	        <p>数据查询</p>
	        <p>专业大全</p>
	    </div>
	    <div class="column">
	        <h4>联系我们</h4>
	        <p>江西师范大学---软件学院</p>
	        <p>tel:00000000</p>
	        <p>email:service@163.com</p>
	    </div>
	</div>