<link rel="stylesheet" type="text/css" href="../static/css/header.css">

<script type="text/javascript" src="../static/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    window.onload = function() {
        var supnav = document.getElementById("head-main");
        var nav = document.getElementById("head-nav");
        var btns = supnav.getElementsByTagName("li");
        var subnavs = nav.getElementsByTagName("div");
        var paddingbottom = 0;
        var defaultHeight = 0;
        function drop(obj, ivalue) {
            var a = obj.offsetHeight;
            var speed = (ivalue - obj.offsetHeight) / 3;
            a += Math.floor(speed);
            obj.style.height = a + "px";
        }
        for (var i = 0; i < btns.length - 1; i++) {
            btns[i].index = i;
            btns[i].onmouseover = function() {
                var osubnav = subnavs[this.index];
                var sublinks = osubnav.getElementsByTagName("dt");
                if (osubnav.firstChild.tagName == undefined) {
                    var itarheight = parseInt(osubnav.childNodes[1].offsetHeight) * sublinks.length + paddingbottom;
                } else {
                    var itarheight = parseInt(osubnav.firstChild.offsetHeight) * sublinks.length + paddingbottom;
                }
                clearInterval(this.itimer);
                this.itimer = setInterval(function() {
                        drop(osubnav, itarheight);
                    },
                    30);
            }
            btns[i].onmouseout = function() {
                var osubnav = subnavs[this.index];
                clearInterval(this.itimer);
                this.itimer = setInterval(function() {
                        drop(osubnav, defaultHeight);
                    },
                    30);
            }
        }
    }
</script>

<div id="head-container">
    <div id="head-fixed">
        {# 导航栏 #}
        <nav id='head-nav'>

            {# 导航内容 #}
            <ul id="head-main">
                <span class="head-img">
              <a href="/"><img src="../static/images/logo.png" alt="img" width="120" ></a>
           </span>

                <li><a href="/reportedCollege">院校推荐</a>
              <ul class="drop">
                <div>
                  <dt><a href="#">推荐大学</a></dt>
                  <dt><a href="#">推荐专业</a></dt>
                  <dt><a href="#">同分去向</a></dt>
                  <dt><a href="#">大学录取概率</a></dt>
                </div>
              </ul>
            </li>
            <li><a href="/dataSearch">数据查询</a>

              <ul class="drop">
                <div>
                  <dt><a href="/dataSearch">院校大全</a></dt>
                  <dt><a href="/professiongroup">专业大全</a></dt>
                  <dt><a href="/professionscore">专业分数线</a></dt>
                  <dt><a href="/collegescoreline">大学分数线</a></dt>
                </div>
              </ul>
            
            </li>
                <li><a href="#">志愿指南</a>
                    <ul class="drop">
                        <div>
                            <dt><a href="#">平行志愿</a></dt>
                            <dt><a href="#">招生资讯</a></dt>
                            <dt><a href="#">志愿百科</a></dt>
                        </div>
                    </ul>
                </li>
                <li><a href="#">开通VIP</a>
                </li>
                <div id="marker"></div>

            </ul>


            {# 搜索框 #}
            <div id="nav-bottom-menu">
                <form method="get" id="searchform" action="#">
                    <label for="s" class="assistive-text">搜索</label>
                    <input type="text" class="field" name="s" id="search" placeholder="搜索" />
                    <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
                </form>
            </div>
            <link rel="stylesheet" href="./../static/css/login_register.css">
            <script type="text/javascript" src="./../static/js/login_register.js"></script>
            {# 登入注册按钮 #} {% if loginUser %}
            <div id='unlogin'>
                <form method="post" id="searchform" action="#">
                    <span class="btn-login btn-color" onclick="location='/user/'">{{loginUser.username}}</span>
                    <span onclick="logout()" class="btn-register">登出</span>
                </form>
            </div>
            {% else %}
            <div id='unlogin'>
                <form method="post" id="searchform" action="#">
                    <span onclick="show_login()" class="btn-login btn-color">登录</span>
                    <span onclick="show_register()" class="btn-register">注册</span>
                </form>
            </div>
            {% endif %}
            <!--<div>
            </div>-->
            <div>
                <div class="mask" onclick="hideMask()"></div>
                <div class="login login_register">
                    <div class="NullDiv"></div>
                    <div class="NullDiv"></div>
                    <div class="inputDiv log_Div"><input id="login_username" class="inputText huise" type="text" placeholder="用户名"></div>
                    <div class="NullDiv"></div>
                    <div class="inputDiv log_Div"><input id="login_password" class="inputText huise" type="text" placeholder="密码"></div>
                    <div class="NullDiv"></div>
                    <div class="ClickDiv log_Div lpointer"><a class="inputText" onclick="login()">登录</a></div>
                    <div class="NullDiv"></div>
                    <div class="inputDiv log_Div">没有账号？请<a class="inputText lpointer" style="color:red" onclick="show_register()">注册</a></div>
                    <div class="NullDiv"></div>
                </div>
                <div class="register login_register">
                    <div class="NullDiv"></div>
                    <div class="NullDiv2"></div>
                    <div class="inputDiv log_Div"><input id="register_username" class="inputText  huise" type="text" placeholder="用户名"></div>
                    <div class="NullDiv2"></div>
                    <div class="inputDiv log_Div"><input id="register_password" class="inputText  huise" type="text" placeholder="密码"></div>
                    <div class="NullDiv2"></div>
                    <div class="inputDiv log_Div">
                        <select name="" id="register_stuprovince" class="inputText  huise">
                            <option value="江西">江西</option>
                            <option value="山西">山西</option>
                            <option value="四川">四川</option>
                            <option value="湖南">湖南</option>
                        </select>
                    </div>
                    <div class="NullDiv2"></div>
                    <div class="inputDiv log_Div">
                        <select name="" id="register_stutype" class="inputText  huise">
                            <option value="文科">文科</option>
                            <option value="理科">理科</option>
                        </select>
                    </div>
                    <div class="NullDiv2"></div>
                    <div class="ClickDiv log_Div lpointer"><a class="inputText" onclick="register()">注册</a></div>
                    <div class="NullDiv2"></div>
                    <div class="inputDiv log_Div "><a class="inputTex lpointert"  style="color:red"  onclick="show_login()">已有账号？请登录</a></div>
                    <div class="NullDiv"></div>
                </div>
            </div>

        </nav>
    </div>
</div>