
<link rel="stylesheet" href="../static/lib/layui-v2.1.5/layui-v2.1.5/layui/css/layui.css">
<link rel="stylesheet" href="../static/css/login.css">
 <script type="text/javascript" src="../static/lib/layui-v2.1.5/layui-v2.1.5/layui/layui.all.js"></script>
<!--用户登录-->
<script>
        var login='<h4 style="text-align: center;margin-top: 30px;margin-bottom:5px;padding-left: 30px;padding-bottom:10px;font-size: 25px;border-bottom: 1px solid #E4E4E4;color: #888;">用户登录</h4>'+
                '<div class="form-1">' +
                '<p class="field"><input type="text" id="login_username" name="username" placeholder="请输入用户名"><i class="icon-user icon-large"><img src="../static/images/user.png" style="width: 20px;height: 20px;"></i></p>' +
                '<p class="field"><input type="password" id="login_password" name="password" placeholder="请输入密码"><i class="icon-user icon-large"><img src="../static/images/password.png" style="width: 20px;height: 20px;"></i></p>' +
                '<p class="submit"><button type="submit" id="submit" name="submit"><i class="icon-user icon-large"></i></button></p>' +
                '</div>' +
                '<p style="text-align: center;">没有账号?&emsp;<a class="register_a" href="/register">立即注册</a></p> <p style="text-align: center;" class="login_tips"></p>';
function show_login(){
            layer.open({
                type: 1,
                skin: 'demo', //样式类名
//            closeBtn: 0, //不显示关闭按钮
                area: ['440px', '350px'],
                anim: 2,
                shadeClose: true, //开启遮罩关闭
                content:login
            });
            $(".layui-layer-title").css("display","none");
}
	
</script>

<script>
	$(document).ready(function(){
		$(document).on("click","#submit",function(){
			var username = $("#login_username").val()
		    var password = $("#login_password").val();
		    console.log(username);
		    $.ajax({
		        type: "POST",
		        data: {
		            "username": username,
		            "password": password,
		        },
		        url: "/login/",
		        dataType: "html",
		        success: function(data, status, xml) {
		            data = JSON.parse(data);
		            if (data.result){
		                $('.login_tips').html("  tips:"+data.errorMsg)
		                history.go(0)
		            }
		            $('.login_tips').html(data.errorMsg)
		        }
		    })
			
		})
	})
</script>