{% extends 'base.html' %}
{% block title %}数据查询{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="../static/css/dataSearch.css">
<style type="text/css">
	
	.collegeSearch {
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    content: "";
	    vertical-align: middle;
	    overflow: hidden;
	    background: url(../static/images/search.png) no-repeat center center;
	    background-size: 100% 100%;
	    cursor: pointer;

	}

	.collegeSearchPng {
		background: url(../static/images/search_g.png) no-repeat center center;

	}

	.sortPng {
	    /* width: 150px; */
	    background: url(../static/images/down.png) no-repeat right center;
	
	}

	.sort {
	    background: url(../static/images/down.png) no-repeat right center;
	}
	.cover .cover_text {
    width: 604px;
    margin: 0 auto;
    height: 226px;
    background: url(../static/images/vip_ad.jpg) center no-repeat;
	}

	.collect {
	    display: block;
	    /* float: left; */
	    /* position: relative; */
	    /* margin-left: 35px; */
	    /* width: 65px; */
	    height: 60px;
	    background: url(../static/images/star_b.png) no-repeat 25px center;
	    /* background-size: auto 100%; */
	}
	.hidden{
		display: none;
	}
	.bar_word{
	    font-family: '微软雅黑 Bold', '微软雅黑';
	    /* font-weight: 700; */
	    font-size: 16px;
	    height: 52px;
	    line-height: 52px;
	    float: left;
	    color: #333;
	    /* background: #00D0FF; */
	    text-indent: 24px;
	   
	
	}

	caption span {
    font-weight: 700;
    font-size: 20px;
	}
	.rt{
		float: right;
	}
	.lable_key{
		color: red;
	}
	
</style>

<link href="../static/css/page.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="../static/js/page.js"></script>
<script type="text/javascript">
	$(document).ready(function(){

		// 院校推荐样式更换
		lpointClass(".lpointer","mySelected")

		//省份选项样式
		
		mySelectedClass("#stulevel .pull-left",".pull-left","mySelected")
		mySelectedClass("#mclass .pull-left",".pull-left","mySelected")
		mySelectedClass("#mclass2 .pull-left",".pull-left","mySelected")

		
		//全选
		$('.selectAll').click(function(){
			$(this).addClass("mySelected");
			$('.headTab').addClass('prob');

		})

		
		probClass(".headTab","prob")

		//输入框改变border颜色
		
		$('.sortByCollege').focusin(function(){

			$(this).addClass('iptfocus');
			$('.collegeSearch').addClass('collegeSearchPng');
		})

		$('.sortByCollege').focusout(function(){

			$(this).removeClass('iptfocus');
			$('.collegeSearch').removeClass('collegeSearchPng');

		})
		function probClass(name,clasName){

			

			$(name).each(function(){
				$(this).click(function(){
					//移除全选按钮样式
					$('.selectAll').removeClass('mySelected')
					$(name).removeClass(clasName);
					$(this).addClass(clasName);

				})
				
			})
		}



		function mySelectedClass(node,name,clasName){
			//判断是否存在父节点
			if (node==""){
				$(name).each(function(){
					$(this).click(function(){
						$(name).removeClass(clasName);
						$(this).addClass(clasName);

					})
				
				})
			}else{
				$(node).each(function(){
					$(this).click(function(){
						$(node).removeClass(clasName);
						$(this).addClass(clasName);

					})
				
				})
			}
		}
		function lpointClass(name,clasName){

			//判断是否存在父节点
			$(name).each(function(){
				$(this).click(function(){

					$(name).removeClass(clasName);
					$(this).addClass(clasName);
					$('#bread_nav2').html($(this).html())
					
				})
			
			})
		}


		 //大学分数线
		// ajax 传数据获取院校数据
		function ajax_data(url){
			$('.data-tbody').remove();
			$('.data_table').append('<tbody class="data-tbody"></tbody>')

			$.getJSON(url,function(data){
				if (data.Data.length!=0){
					$('.noData').addClass("hidden");
					
						for (var i=0;i<data.Data.length;i++)
						{
							//alert(data.Data[i][0])

							$('.data-tbody').append('<tr><td class="collegeId" data_college_id="1"><a class="collegeLink pointer tst3">'+data.Data[i][0]+'</a></td><td>'+data.Data[i][1]+'</td><td>'+data.Data[i][2]+'</td><td>'+data.Data[i][3]+'</td><td>'+data.Data[i][4]+'</td><td class="collectBox collect pointer" ></td></tr>')	
						}
					
				}else{
					$('.noData').removeClass("hidden");
				}
			})
	    }
	
	 
	    //根据点击显示不同省份的内容
		$('.pull-left').each(function(){

			$(this).click(function(){
				var big_majoy = $("#mclass li.mySelected").html(),
	            small_majoy = $("#mclass2 li.mySelected").html();

				// url="/api_collegescoreline/?stuProvince="+sel_district+"&schProvince="+sch_province+"&batch="+sel_round+"&stuType="+sel_category+"&year="+sel_year+"&page=1"
				url="/api_professionrank/?stuProvince="+big_majoy+"&stuType="+small_majoy
				
			
				ajax_data(url)
			})
		
		})

		//点击专业大类显示专业小类
		$('#mclass .pull-left').each(function(){

			$(this).click(function(){
				var big_majoy = $("#mclass li.mySelected").html();

				url="/api_majorgroup/?subjectType=本科&subjectName="+big_majoy
				
				$.getJSON(url,function(data){
					// alert(data.Data)	
					if (data.Data.length!=0){
							$('.noData').addClass("hidden");
							$('#mclass2 li').remove()
							for (var i=0;i<data.Data.length;i++)
							{
								//alert(data.Data[i][0])
								if (i==0){
									$('#mclass2').append('<li class="pull-left mySelected" data_value="'+data.Data[i]+'">'+data.Data[i]+'</li>')
								}else{
									$('#mclass2').append('<li class="pull-left " data_value="'+data.Data[i]+'">'+data.Data[i]+'</li>')
								}

								//alert()	

							}
						
					}else{
						$('.noData').removeClass("hidden");
					}
				})
				
	            
			})
		
		})
	  	
		//封装获取专业的json数据 url表示json地址 documentName动态添加元素的id stu_level本科专科 flag 0表示初始加载 1表示不是一开始加载 3表示加载专业小类 4表示一开始就加载排名数据
		function majoy_data(url,documentName,stu_level,flag){
			$.getJSON(url,function(data){
					// alert(data.Data)	
					if (data.Data.length!=0){
							$('.noData').addClass("hidden");
							$(documentName+' li').remove()
							for (var i=0;i<data.Data.length;i++)
							{
								//alert(data.Data[i][0])
								if (i==0){
									$(documentName).append('<li class="pull-left mySelected" data_value="'+data.Data[i]+'">'+data.Data[i]+'</li>')
								}else{
									$(documentName).append('<li class="pull-left " data_value="'+data.Data[i]+'">'+data.Data[i]+'</li>')
								}
							}

							if (flag==0){
								//alert(data.Data[0])
								//根据专业大类选取专业类别
								url="/api_majorgroup/?subjectType="+stu_level+"&subjectName="+data.Data[0]
								majoy_data(url,'#mclass2',stu_level,1)
							}

							
							if(flag==1){

									//加载专业详细
									var mclass = $("#mclass li.mySelected").html();
									url="/api_profession/?subjectType="+stu_level+"&subjectName="+mclass+"&majorClass="+data.Data[0]
									ajax_data(url)
							}
							// alert(url)
					}else{
						$('.noData').removeClass("hidden");
					}
				})


		}

		//本科专科 
		$('#stulevel .pull-left').each(function(){

			$(this).click(function(){
				var stu_level = $("#stulevel li.mySelected").html();

				url="/api_subjectgroup/?subjectType="+stu_level
				
	            majoy_data(url,'#mclass',stu_level,0)
			})
		
		})

		//一开始就加载好专业大类别
		function startBigMajoy(){
			//根据本科专科选取专业大类
			var stu_level = $("#stulevel li.mySelected").html();
				url="/api_subjectgroup/?subjectType="+stu_level
				// alert(url)
				majoy_data(url,'#mclass',stu_level,0)

		}	
		
	  	// 显示第一个专业大类
		startBigMajoy()

		//动态事件绑定  新增的节点添加事件 
	   	$('#mclass').on('click','li',function(){　　　　
	   		//给动态添加的元素一个样式
	        $('#mclass li').removeClass('mySelected');
			$(this).addClass('mySelected');

			var stu_level = $("#stulevel li.mySelected").html(),
				subjectName = $("#mclass li.mySelected").html()	;
			
			url="/api_majorgroup/?subjectType="+stu_level+"&subjectName="+subjectName
			//majoy_data(url,'#mclass2',stu_level)
			majoy_data(url,'#mclass2',stu_level,1)
	    });

	    //动态事件绑定  新增的节点添加事件 
	   	$('#mclass2').on('click','li',function(){　　　　
	   		//给动态添加的元素一个样式
	        $('#mclass2 li').removeClass('mySelected');
			$(this).addClass('mySelected');

			var stu_level = $("#stulevel li.mySelected").html(),
				majorClass = $("#mclass2 li.mySelected").html()	;

			//加载专业详细
			var mclass = $("#mclass li.mySelected").html();
			url="/api_profession/?subjectType="+stu_level+"&subjectName="+mclass+"&majorClass="+majorClass
			ajax_data(url)
			

	    });

	   	//封装将json数据写入tbody中
	   	function ajax_data(url){
			$('.data-tbody').remove();
			$('.data_table').append('<tbody class="data-tbody"></tbody>')
			//专业大类
			var mclass = $("#mclass2 li.mySelected").html();
			$.getJSON(url,function(data){
				if (data.Data.length!=0){
					$('.noData').addClass("hidden");
					
						for (var i=0;i<data.Data.length;i++)
						{
							//alert(data.Data[i][0])

							$('.data-tbody').append('<tr><td>'+mclass+'</td><td class="collegeId" data_college_id="1"><a class="collegeLink pointer tst3">'+data.Data[i][0]+'</a></td><td>'+data.Data[i][1]+'</td><td>'+data.Data[i][2]+'</td><td class="collectBox collect pointer" ></td></tr>')	
						}
					
				}else{
					$('.noData').removeClass("hidden");
				}
			})
	    }

	});	
	
	
</script>

<div class="head_height"></div>
<div id="reportedCollege-container">
    <div id="reportedCollege_content" >
      
		{# 左边窗口 #}
		<div class="lFrame lt">
		    <div class="mynav nav2_bar breadUserInfoBox ">
		        <ul class="breadcrumb breadNav">
		            <li><a class="index" href="/">首页</a></li>
		            <li><a id="bread_nav1" href="/dataSearch">数据查询</a></li>
		            <li id="bread_nav2">专业大全</li>
		        </ul>
		    </div>

		    <div>
		        <div class="changeNav_school"><i class="icon iconfont icon-xueshimao"></i>院校数据</div>
		        <ul class="changeNav">

		            <a href="/dataSearch"><li class="lpointer ">院校大全</li></a>
		            <a href="/collegescoreline"><li class="lpointer  ">大学分数线</li></a>
		            <a href="/areascoreline"><li class="lpointer ">地区批次线</li></a>
		            <a href="/scoreparam"><li class="lpointer ">一分一段表</li></a> 
		        </ul>
		    </div>

		    <div>
		        <div class="changeNav_major"><i class="icon iconfont icon-shu"></i>专业数据</div>
		        <ul class="changeNav">
		            <a href="/professiongroup"><li class="lpointer mySelected ">专业大全</li></a>
		            <a href="/professionscore"><li class="lpointer ">专业分数线</li></a>
		            <a href="/professionrank"><li class="lpointer  ">专业学科排名</li></a>
		        </ul>
   			</div>
        </div>
       {# 右侧内容 #}
     	<div class="rFrame lt">
	        <div class="no_userinfo">
			    <div class="rFrame_userInfo">
			        <ul class="userInfo" id="searchOrUserInfo">
			            <li id="userInfo"><span id="userInfo_district">北京</span><span id="userInfo_category">理科</span><span id="userInfo_score">分数：123</span><a class="changeUserInfo"><img src="../static/images/write.png" alt="修改分数"></a></li>
			        </ul>
			    </div>
	   		 </div>
	   		 <div class="partLine">
         	<div class="partLine_top">


         		<div id="row_stulevel">
				    <div class="select_title fl">
				        <div class="select_inputDom">考生层次</div>
				    </div>
				    <ul class="select_items fl" id="stulevel">
				        <li class="pull-left mySelected" data_value="理科">本科</li>
				        <li class="pull-left " data_value="高职专科">高职专科</li>
				        
				    </ul>
				</div>

         		<div id="row_mclass">
				    <div class="select_title fl">
				        <div class="select_inputDom">学科类别：</div>
				    </div>
				    <ul class="select_items fl" id="mclass">
				       	  <li class="pull-left mySelected" data_value="历史学">历史学</li>
						  <li class="pull-left" data_value=" 艺术学">艺术学</li>
						  <li class="pull-left" data_value="管理学">管理学</li>
						  <li class="pull-left" data_value="工学">工学</li>
						  <li class="pull-left" data_value="经济学">经济学</li>
						  <li class="pull-left" data_value="教育学">教育学</li>
						  <li class="pull-left" data_value="农学">农学</li>
						  <li class="pull-left" data_value="文学">文学</li>
						  <li class="pull-left" data_value="哲学">哲学</li>
						  <li class="pull-left" data_value="医学">医学</li>
						  <li class="pull-left" data_value="理学">理学</li>
						  <li class="pull-left" data_value="法学">法学</li>
				    </ul>
				</div>
		       	
		        <div id="row_mclass2">
				    <div class="select_title fl">
				        <div class="select_inputDom">学科大类：</div>
				    </div>
				    <ul class="select_items fl" id="mclass2">
				         <li class="pull-left mySelected" data_value="历史学类">历史学类</li>
				        
				    </ul>
				</div>
		        
 		       
		    </div>
	 </div>	  
	 	<div class="data_conts" >
		    <table class="data_table">
			    <caption >
			    	
		            <div class="sortBar">
		            	<span class="bar_word">
	                   	 2016年本科一批高校在北京的录取分数线（理科）
	                	</span>
				        <div class="sortByCollege rt">
				            <input type="text" placeholder="在结果中搜索学校" class="inputCollege" id="inputCollege">
				            <span class="collegeSearch"></span>
				            
				        </div>
				       
				    </div>
	        	</caption>
			  
		        <thead>
		            <tr>
		            	<td >专业大类</td>
		            	<td >专业名称</td>
		            	<td >专业代码</td>
		                <td >院校名称</td>
		                <td>收藏</td>
		                <!--<td>平均分线差</td>-->
		                <!--<td>录取平均概率</td>-->
		            </tr>
            	</thead>
		       <!--  <tbody class="data-tbody">
		        			{# <tr> #}
					            {# <td class="collegeId" data_college_id="1"><a class="collegeLink pointer tst3">{{data.0}}</a> #}
					            {# </td> #}
					            {# <td>{{data.1}}</td> #}
					            {# <td>{{data.2}}</td> #}
					            {# <td>{{data.3}}</td> #}
					            {# <td>{{data.4}}</td> #}
					            {# <td class="collectBox collect pointer" > #}
					            {# </td> #}
					            {# <td class="pointer hc tst3">大学录取概率</td> #}
			      			{# </tr> #}
	      		</tbody> -->
    		</table>
    		
    	
		    <div class="noData hidden">
		    	<div class="mc"><span class="dataLine"></span> <span>抱歉，暂无相关数据</span> <span class="dataLine"></span></div>
		    </div>
		    <div class="cover hidden">
		        <div class="cover_text">
		            {# 开通VIP，查看全部，为梦想投资 #}
		        </div>
		        <a href="buyVip.html" class="cover_btn pointer btn_tran">开通VIP</a>
		    </div>
		</div>	

		    {# <div id="pager" class="pager clearfix"></div>	 #}
		    <div ><ul class="page" maxshowpageitem="5" pagelistcount="10"  id="page"></ul></div>
        </div>

	</div>
</div>

{% endblock %}
