{% extends 'school_detail_base.html' %}
{% block right_conts %}
{# 填写右边的内容 #}
<style type="text/css">
    .block-body {
        width: 100%;
        padding: 10px 20px;
        background-color: #fff;
        overflow: auto;
        position: relative;
        margin-bottom: 20px;
    }
    .right-enrol .upper-category {
    margin-left: 220px;
    margin-right: 20px;
    }

    .right-enrol .upper-category, .right-enrol .upper-province {
        width: 80px;
        float: left;
        text-align: center;
        margin-top: 8px;
    }
    .right-enrol .upper-category .upper-select, .right-enrol .upper-province .upper-select {
        background-color: transparent;
        padding: 5px 15px 5px 10px;
    }
    .upper-select {
        position: relative;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 7px 25px 7px 15px;
    }
    .upper-select, .upper-inp-text, .upper-radios, .upper-checkboxs, .upper-search {
        font-size: 14px;
        line-height: 14px;
        border-radius: 2px;
        background-color: #fff;
    }
    .upper-select-text {
        height: 14px;
    }
    .upper-select-text>.upper-text {
        line-height: 14px;
    }
    .right-enrol .upper-category .upper-icon, .right-enrol .upper-province .upper-icon {
        top: 5px;
        right: 5px;
    }
    .iconCaretDown {
        border-top: 5px solid #666;
        border-left: 5px solid #fff;
        border-right: 5px solid #fff;
        margin-top: 4px;
    }
    .upper-select .upper-icon {
        position: absolute;
        top: 8px;
        right: 12px;
    }
    .upper-select-text {
        height: 14px;
    }
    .right-enrol .upper-category .upper-select-list {
        width: 80px;
        top: 24px;
    }
    .upper-select-list.upper-left {
        left: 0;
        margin-left: -1px;
    }
    .upper-select-list {
        position: absolute;
        border: 1px solid #2FA1F1;
        width: 120px;
        background-color: #fff;
        z-index: 99;
        border-radius: 2px;
        top: 28px;
    }
    .upper-select-list>li {
        font-size: 14px;
        line-height: 14px;
        padding: 7px 15px;
    }
    .right-enrol .upper-category, .right-enrol .upper-province {
        width: 80px;
        float: left;
        text-align: center;
        margin-top: 8px;
    }
    .right-enrol .upper-category .upper-select, .right-enrol .upper-province .upper-select {
        background-color: transparent;
        padding: 5px 15px 5px 10px;
    }
    .upper-select {
        position: relative;
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 7px 25px 7px 15px;
    }
    .upper-select-text {
        height: 14px;
    }
    .block-body {
        padding: 10px 20px;
        background-color: #fff;
        overflow: auto;
        position: relative;
        margin-bottom: 20px;
    }
    .right-enrol .table_box h3 {
        color: #F1923D;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .right-enrol table {
        width: 100%;
        border: 1px solid #E5E5E5;
    }
    table {
        border-collapse: collapse;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
    .right-enrol th {
        background-color: #EFEFEF;
        font-size: 16px;
        font-weight: normal;
        height: 35px;
    }
     *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .right-enrol td {
        border: 1px solid #E5E5E5;
        text-align: center;
        height: 30px;
    }
    .hide{
        display: none;
    }
    .upper-select-list li:hover{
        color: white;
        background: #F1923D;
    }
    .stuProvinceSelect li{
        float: left;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){

       //导航换肤
        $('.left-item').each(function(){
            $(this).removeClass('current')
        })
        $('.left-item:eq(2)').addClass('current')

    
         $('.upper-select-text ').click(function(){
            
            $(this).siblings('ul').removeClass('hide')
        })
        
       //改变文理和考生省份
         $('.stuTypeSelect li').click(function(){
            $('.upper-select-list').addClass('hide')
            $('.stuType').html($(this).text())

            var schoolName="{{ proidInfo.schoolName }}"
                var stuProvince=$('#stuProvince').html()
                var stuType=$(this).text()
                ;
                url = "/api_collegescoreLine/?stuProvince="+stuProvince+"&stuType="+stuType+"&schoolName="+schoolName;
                ajax_data(url)
         })
        $('.stuProvinceSelect li').click(function(){
            $('.upper-select-list').addClass('hide')
            $('.stuProvince').html($(this).text())

            var schoolName="{{ proidInfo.schoolName }}"
                var stuProvince=$(this).text()
                var stuType=$('#stuType').html()
                ;
                url = "/api_collegescoreLine/?stuProvince="+stuProvince+"&stuType="+stuType+"&schoolName="+schoolName;
                ajax_data(url)
         })
        function ajax_data(url){
            $('.data-tbody').remove();
            $('.data_table').append('<tbody class="data-tbody"></tbody>')
            $.getJSON(url,function(data){
                    // alert(data.Data) 
                    // $('.recommend_data .pagers').remove();
                    //$('.data_table').append('<tbody class="data-tbody"></tbody>')
                    if (data.Data.length!=0){
                           
                        for (var i=0;i<data.Data.length;i++)
                        {
                            $('.data-tbody').append('<tr><td>'+data.Data[i][0]+'</td><td>'+data.Data[i][1]+'</td><td>'+data.Data[i][2]+'</td><td>'+data.Data[i][3]+'</td><td>'+data.Data[i][4]+'</td><td>'+data.Data[i][5]+'</td><td>'+data.Data[i][6]+'</td>  </tr>');
                        }
                            
                    }else{
                        $('.noData').removeClass("hidden");
                    }
                })

        }
        
        //alert(windowUrl.substring(windowUrl.indexOf('=')))
       // var sel_stuProvince=$('#stuProvince').text().substring(2),
       //      sel_stuType=$('#stuType').val(),

       //      alert(schoolName)
        //学校分数线
          function startUp(){
                var schoolName="{{ proidInfo.schoolName }}"
                var stuProvince="{{ proidInfo.stuProvince }}"
                var stuType="{{ proidInfo.stuType }}"
                ;
                url = "/api_collegescoreLine/?stuProvince="+stuProvince+"&stuType="+stuType+"&schoolName="+schoolName;//location.href实现客户端页面的跳转 
                
                $('.stuProvince').html(stuProvince)
                ajax_data(url)
        }
        startUp()
    })
</script>
<div class="right-wrap">

    <div class="right-wrap-body" >
    
        <div class="right-intro" >
            
            
            <div class="block right-intro-majors" >
                
               <div class="right-enrol">
                        <div class="block">
                            <div class="block-head">
                                <h3 class="upper-text">历年分数线 录取人数统计(不含自主招生人数) </h3>
                                <div class="upper-category upper-input">
                                    <div class="upper-select">
                                        <div class="upper-select-text">
                                            <div class="upper-text stuType" id="stuType" data-val="理科">理科</div>
                                            <div class="upper-icon iconCaretDown" style="border-left: 5px solid white;border-right: 5px solid white"></div>
                                        </div>
                                        <ul class="upper-select-list upper-left stuTypeSelect hide" >
                                            <li data-val="文科">文科</li>
                                             <li data-val="理科">理科</li>
                                         </ul>
                                     </div>
                                 </div>
                                <div class="upper-province upper-input">
                                    <div class="upper-select">
                                        <div class="upper-select-text">
                                            <div class="upper-text stuProvince" id="stuProvince" data-val="江西">江西</div>
                                            <div class="upper-icon iconCaretDown" style="border-left: 5px solid white;border-right: 5px solid white"></div>
                                        </div>
                                    <ul class="upper-select-list upper-left stuProvinceSelect hide" >
                                        <li data-val="北京">北京</li>
                                        <li data-val="天津">天津</li>
                                        <li data-val="河北">河北</li>
                                        <li data-val="山西">山西</li>
                                        <li data-val="内蒙古">内蒙古</li>
                                        <li data-val="辽宁">辽宁</li>
                                        <li data-val="吉林">吉林</li>
                                        <li data-val="黑龙江">黑龙江</li>
                                        <li data-val="上海">上海</li>
                                        <li data-val="江苏">江苏</li>
                                        <li data-val="浙江">浙江</li>
                                        <li data-val="安徽">安徽</li>
                                        <li data-val="福建">福建</li>
                                        <li data-val="江西">江西</li>
                                        <li data-val="山东">山东</li>
                                        <li data-val="河南">河南</li>
                                        <li data-val="湖北">湖北</li>
                                        <li data-val="湖南">湖南</li>
                                        <li data-val="广东">广东</li>
                                        <li data-val="广西">广西</li>
                                        <li data-val="海南">海南</li>
                                        <li data-val="重庆">重庆</li>
                                        <li data-val="四川">四川</li>
                                        <li data-val="贵州">贵州</li>
                                        <li data-val="云南">云南</li>
                                        <li data-val="陕西">陕西</li>
                                        <li data-val="甘肃">甘肃</li>
                                        <li data-val="青海">青海</li>
                                        <li data-val="宁夏">宁夏</li>
                                        <li data-val="新疆">新疆</li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                            <div class="block-body">
                            <div class="table_box">
                                <h3 id="schoolName">{{schoolinfo.SchoolName}}</h3>
                                <table class="data_table">
                                    <tbody>
                                        <tr>
                                           <th>学校名称</th><th>年份</th><th>批次</th> <th>最高录取分</th><th>平均录取分</th><th>类型</th><th>考生位置</th>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                           
                        </div>
                    </div>
        </div>
           
        </div>
    </div>
</div>
{% endblock %}
   
