<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}知乎数据后台管理{% endblock %}</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="../static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/theme.css">
    <link rel="stylesheet" href="../static/lib/font-awesome/css/font-awesome.css">
    <script src="../static/lib/jquery-1.7.2.min.js" type="text/javascript"></script>

    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<body class=""> 
  <!--<![endif]-->
    
    <div class="navbar">
        <div class="navbar-inner">
                <ul class="nav pull-right">
                    
                    <!-- <li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button">设置</a></li> -->
                    <li id="fat-menu" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> 
                            {%if adminUser%}
                            {{adminUser.personname}}
                            {%else%}
                            admin
                            {%endif%}
                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="/user">个人中心</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" class="visible-phone" href="#">设置</a></li>
                            <li class="divider visible-phone"></li>
                            <li><a tabindex="-1" href="/sign_out">退出</a></li>
                        </ul>
                    </li>
                    
                </ul>
                <a class="brand" href="index.html"><span class="first">知乎数据</span> <span class="second">后台管理</span></a>
        </div>
    </div>
    


    
    <div class="sidebar-nav">
        <a href="#功能面板-menu" class="nav-header" data-toggle="collapse"><i class="icon-功能面板"></i>功能面板</a>
        <ul id="功能面板-menu" class="nav nav-list collapse in">
            <li><a href="/adminIndex">首页</a></li>
            <li ><a href="/users">用户中心</a></li>
            <li ><a href="/user">用户资料</a></li>
            <!-- <li class="active"><a href="/calendar">日历</a></li> -->
        </ul>

        <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Account<span class="label label-info">+3</span></a>
        <ul id="accounts-menu" class="nav nav-list collapse">
            <li ><a href="/sign_in">登入</a></li>
            <li ><a href="/sign_out">退出</a></li>
        </ul>

        <a href="#error-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i>Error Pages <i class="icon-chevron-up"></i></a>
        <ul id="error-menu" class="nav nav-list collapse">
            <li ><a href="/error/?pageInfo=403">403 page</a></li>
            <li ><a href="/error/?pageInfo=404">404 page</a></li>
            <li ><a href="/error/?pageInfo=500">500 page</a></li>
            <li ><a href="/error/?pageInfo=503">503 page</a></li>
        </ul>

        
    </div>

{% block content %}
    <div>抱歉没有数据...</div>
     
{% endblock %}
   
</body>
</html>