{% extends 'admins/adminBase.html' %}
{% block title %}用户资料中心{% endblock %}
{% block content %}
<script type="text/javascript">
  $(function() {

     //ajax向后台传送数据
       function ajax_data(userId,username,password,sex,stutype,schooladdress,score,rank,status,type){
            $.ajax({
                  type:"POST",
                  data: {'userId':userId,'username':username,'password':password,'sex':sex,'stutype':stutype,'schooladdress':schooladdress,'score':score,'rank':rank,'status':status,'type':type},
                  url: "/updateUser/", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                  cache: false,
                  dataType: "html",
                  success: function(data, statues, xml){
                      $('input[name="username"]').val(username);
                      $('input[name="password"]').val(password);
                      //$('input[name="sex"]').val(sex);
                      //$('input[name="stutype"]').val(stutype);
                      $('input[name="schooladdress"]').val(schooladdress);
                      $('input[name="score"]').val(score);
                      $('input[name="rank"]').val(rank);
                      //$('input[name="status"]').val(status);
                     // $('input[name="type"]').val(type);
                     $('.flah_error').text("修改成功！");
                  },
                  error: function(){
                      $('.flah_error').text("修改失败！");
                  }

            });
       }
      $('.btn-primary').click(function(){
         var userId=$('input[name="userId"]').val();
        var username=$('input[name="username"]').val();
        var password=$('input[name="password"]').val();
        var sex=$('#select_sex option:selected').text();
        var stutype=$('#select_stutype option:selected').text();
        var schooladdress=$('input[name="schooladdress"]').val();
        var score=$('input[name="score"]').val();
        var rank=$('input[name="rank"]').val();
        var status=$('#select_status option:selected').val();
        var type=$('#select_type option:selected').val();
          if(username ==  null || username == ''){
               $('.flah_error').text("昵称不能为空");
               return false;
          }else if(password==null ||password==""){
            $('.flah_error').text("密码不能为空");
               return false;
           }else if(password.length<6){
            $('.flah_error').text("密码不能小于6位数");
               return false;
           }
           
           ajax_data(userId,username,password,sex,stutype,schooladdress,score,rank,status,type)
           
          return true;
          })
})
  
 
</script>
    
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">修改资料</h1>
        </div>
                <ul class="breadcrumb">
            <li><a href="/adminIndex">首页</a> <span class="divider">/</span></li>
            <li><a href="/adminUsers">用户中心</a> <span class="divider">/</span></li>
            <li class="active">用户</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                  

<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">用户资料</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">

    <form id="tab">
         
        <label>用户编号</label>
        <input type="text" disabled="disabled" value="{{user.id}}" class="input-xlarge" name="userId">
        <label>用户名</label>
        <input type="text" value="{{user.username}}" class="input-xlarge" name="username">
        <label>用户密码</label>
        <input type="password" value="{{user.password}}" class="input-xlarge" name="password">
        <label>性别</label>
        <select id="select_sex">
          {%ifequal user.sex '男'%}
          <option value="{{user.sex}}" selected="selected">男</option>
          <option value="{{user.sex}}">女</option>
          {%else%}
          <option value="{{user.sex}}">男</option>
           <option value="{{user.sex}}" selected="selected">女</option>
          {%endifequal%}
        </select>
        <label>考生类型</label>
        <select id="select_stutype">
          {%ifequal user.stutype '文科'%}
          <option value="{{user.stutype}}" selected="selected">文科</option>
          <option value="{{user.stutype}}">理科</option>
          {%else%}
          <option value="{{user.stutype}}">文科</option>
           <option value="{{user.stutype}}" selected="selected">理科</option>
          {%endifequal%}
        </select>
        <label>所在高校</label>
        <input type="text" value="{{user.schooladdress}}" class="input-xlarge" name="schooladdress">
        <label>高考分数</label>
        <input type="text" value="{{user.score}}" class="input-xlarge" name="score" maxlength="3">
        <label>高考排名</label>
        <input type="text" value="{{user.rank}}" class="input-xlarge" name="rank" maxlength="6">

        <label>用户状态</label>
        <select id="select_status">
          {%ifequal user.status 1%}
          <option value="1" selected="selected">正常</option>
          <option value="0">冻结</option>
          {%else%}
          <option value="1">正常</option>
           <option value="0" selected="selected">冻结</option>
          {%endifequal%}
        </select>

        <label>用户类型</label>
        {%ifequal user.type 2%}
         <select id="select_type">
            <option value="2" selected="selected" >管理员</option>
          </select>
          {%else%}
           <select id="select_type">
            {%ifequal user.type 0%}
              <option value="0" selected="selected">非Vip</option>
              <option value="1">Vip用户</option>
              {%endifequal%}
             {%ifequal user.type 1%}
               <option value="0">非Vip</option>
               <option value="1" selected="selected">Vip用户</option>
              {%endifequal%}
          </select>
        {%endifequal%}
         

    </form>
     <span class="flah_error" style="color:red;font-weight:800;height:40px; float:left;"></span> 
      </div>
     
  </div>
  <div class="btn-toolbar">
      <button class="btn btn-primary"><i class="icon-save"></i> 保存</button>
  </div>
</div>
                    
              <footer>
                        <hr>

                        <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
                        <p class="pull-right"><a href="javascript:void();" target="_blank">Design by </a> by <a href="https://github.com/zuoakang" target="_blank">zuoakang_tangqi</a></p>

                        <p>&copy; 2017 <a href="/index" target="_blank">高考志愿填报后台管理系统</a></p>
               </footer>
      
  </div>
    </div>
</div>
    


    <script src="../static/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>
    


{% endblock %}
